input.accordion {
    display: none;
}
input.accordion + label {
    display: block;
    font-size: 16px;
    background: #596930;
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1em;
    font-size: x-large;
    padding-left: 2em;
    padding-right: 2em;
    min-height: 1em;
}
input.accordion:checked + label {
    border-radius: 12pt 12pt 0 0;
}
input.accordion + label + iframe {
    display: none;
    padding: 0;
    /*border-radius: 0 0 1rem 1rem;*/
    border: none;
}
input.accordion:checked + label + iframe {
    display: inline;
}

/******************************************************************************/

html, body {
/*    background: #798F41;*/
    font-family: sans-serif;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 100%;
}

table.fixed {
    table-layout: fixed;
}

iframe {
    margin: auto;
}

p#time {
    font-size: small;
}

