{% macro watch(title, id, value, unit='', default='<b>??</b>') -%}
    <tr>
        <td>{{ title }}</td>
        <td id="{{ id }}" class="align_right large">
        {% if value %}
            {{ value }}
        {% else %}
            {{ default|safe }}
        {% endif %}
        </td>
        <td>{{ unit }}</td>
    </tr>
{%- endmacro %}
{% macro light_button(title, id, type, value) -%}
    <button class='{{ type }} {% if value is equalto true %}on{% else %}off{% endif %}' id='{{ id }}' disabled>{{ title }}</button>
{%- endmacro %}
<!doctype html>
<html>
<head>
<title>Hello, {% if master_mind %}Master{% else %}World{% endif %} — Helium Compressor</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='helium_compressor.css') }}">
<script type=text/javascript>
"use strict";
var timePeriod = 1000;
var lastRequestTime = Date();
var lastResponseTime = Date();
var plotData = [];
function update_values() {
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var now = new Date();
    if (now - lastRequestTime < 0.9 * timePeriod || now - lastResponseTime < 0.9 * timePeriod) {
        return;
    }
    else {
        lastRequestTime = now;
    }
    $.getJSON($SCRIPT_ROOT+"/helium_compressor/json",
        function(data) {
            now = new Date();
            if (now - lastResponseTime < 0.9 * timePeriod) {
                return;
            }
            else {
                lastResponseTime = now;
            }

            if (data.pressures != null &&
                data.pressures[0] != "None" &&
                data.pressures[0] !== "") {
                $("#pressure1").text(data.pressures[0]);
            }
            else {
                $("#pressure1").html("<b>??</b>");
            }
            if (data.temperatures != null &&
                data.temperatures[0] != "None" &&
                data.temperatures[0] !== "") {
                for (var i = 0; i < 3; ++i) {
                    $("#temperature" + (i+1)).text(data.temperatures[i]);
                }
            }
            else {
                for (var i = 0; i < 3; ++i) {
                    $("#temperature" + (i+1)).html("<b>??</b>");
                }
            }
            {% for id in ['local_on',
                          'cold_head_run',
                          'cold_head_pause',
                          'fault_off',
                          'oil_fault_off',
                          'solenoid_on',
                          'pressure_off',
                          'oil_level_alarm',
                          'water_flow_alarm',
                          'water_temperature_alarm',
                          'helium_temperature_off',
                          'mains_off',
                          'motor_temperature_off',
                          'system_on'] %}
                if (data.{{ id }}) {
                    $($("button#{{ id }}")[0]).addClass("on").removeClass("off");
                    if (("{{ id }}").endsWith("_alarm") || ("{{ id }}").endsWith("_off")) {
                        ($("audio#warning")[0]).play();
                    }
                }
                else {
                    $($("button#{{ id }}")[0]).addClass("off").removeClass("on");
                }
            {% endfor %}
            {% if master_mind -%}
                $("input#on").prop('disabled', (data.system_on === true));
                $("input#off").prop('disabled', (data.system_on === false));
            {%- endif %}
        }
    );
}
setInterval(update_values, timePeriod);
</script>
{% if master_mind -%}
<script type=text/javascript>
"use strict";
$(document).ready(function() {
    $("input#on").click(function() {
        $.post("/helium_compressor/do",
        {
          action: +1,    // 0 = Off, 1 = On
        },
        function(data, status) {
            alert(data);
        });
    });
    $("input#off").click(function() {
        $.post("/helium_compressor/do",
        {
          action: +0,    // 0 = Off, 1 = On
        },
        function(data, status) {
            alert(data);
        });
    });
});
</script>
{%- endif %}
</head>
<body>
<table class="state">
    <tr>
        <td>
            <table class="wide">
                {{ watch(title='Pressure:', id='pressure1', value=pressures[0], unit='psig') }}
                {{ watch(title='Helium Temperature:', id='temperature1', value=temperatures[0], unit='°C') }}
                {{ watch(title='Water Out Temperature:', id='temperature2', value=temperatures[1], unit='°C') }}
                {{ watch(title='Water In Temperature:', id='temperature3', value=temperatures[2], unit='°C') }}
            </table>
        </td>
        <td>
            <table id='light'>
                <tr>
                    <td colspan="2">{{ light_button(title='System On', id='system_on', type='state', value=system_on) }}</td>
                    <td colspan="2">{{ light_button(title='Local On', id='local_on', type='state', value=local_on) }}</td>
                </tr>
                <tr>
                    <td>{{ light_button(title='Fault Off', id='fault_off', type='error', value=fault_off) }}</td>
                    <td>{{ light_button(title='Solenoid On', id='solenoid_on', type='state', value=solenoid_on) }}</td>
                    <td>{{ light_button(title='Cold Head Run', id='cold_head_run', type='state', value=cold_head_run) }}</td>
                    <td>{{ light_button(title='Cold Head Pause', id='cold_head_pause', type='stat2', value=cold_head_pause) }}</td>
                </tr>
                <tr>
                    <td>{{ light_button(title='Helium Temperature', id='helium_temperature_off', type='error', value=helium_temperature_off) }}</td>
                    <td>{{ light_button(title='Helium Pressure', id='helium_pressure_off', type='error', value=pressure_off) }}</td>
                    <td>{{ light_button(title='Oil Level', id='oil_level_alarm', type='alarm', value=oil_level_alarm) }}</td>
                    <td>{{ light_button(title='Oil Fault Off', id='oil_fault_off', type='error', value=oil_fault_off) }}</td>
                </tr>
                <tr>
                    <td>{{ light_button(title='Water Flow', id='water_flow_alarm', type='alarm', value=water_flow_alarm) }}</td>
                    <td>{{ light_button(title='Water Temperature', id='water_temperature_alarm', type='alarm', value=water_temperature_alarm) }}</td>
                    <td>{{ light_button(title='Motor Temperature', id='motor_temperature_off', type='error', value=motor_temperature_off) }}</td>
                    <td>{{ light_button(title='Mains Power', id='mains_off', type='error', value=mains_off) }}</td>
                </tr>
            </table>
        </td>
    </tr>
{% if master_mind -%}
    <tr>
        <td class="align_center" colspan="2">
            <input type="button" class="action_button" id="on" value="Turn compressor on!" disabled>
            <input type="button" class="action_button" id="off" value="Turn compressor off!" disabled>
        </td>
    </tr>
{%- endif %}
</table>
<audio preload="auto" id="warning">
    <source src="{{ url_for('static', filename='horse.ogg') }}" type="audio/ogg">
    <source src="{{ url_for('static', filename='horse.mp3') }}" type="audio/mpeg">
</audio>
</body>
</html>
