{% macro watch(title, id, value, unit='', default='<b>??</b>') -%}
    <tr>
        <td>{{ title }}</td>
        <td id="{{ id }}" class="align_right large">
        {% if value %}
            {{ value }}
        {% else %}
            {{ default|safe }}
        {% endif %}
        </td>
        <td>{{ unit }}</td>
    </tr>
{%- endmacro %}
{% macro light_button(title, id, type, value) -%}
    <button class='{{ type }} {% if value is equalto true %}on{% else %}off{% endif %}' id='{{ id }}' disabled>{{ title }}</button>
{%- endmacro %}
<!doctype html>
<html>
<head>
<title>Hello, Master</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
<script src="{{url_for('static', filename='amcharts/amcharts.js') }}"></script>
<script src="{{url_for('static', filename='amcharts/serial.js') }}"></script>
<script src="{{url_for('static', filename='amcharts/plugins/export/export.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='amcharts/plugins/export/export.css') }}" type="text/css" media="all" />
<script src="{{url_for('static', filename='amcharts/themes/light.js') }}"></script>
<script type=text/javascript>
var chart = AmCharts.makeChart("chartdiv", {
  "type": "serial",
  //"theme": "light",
  "marginRight": 40,
  "marginLeft": 40,
  "autoMarginOffset": 20,
  //"mouseWheelZoomEnabled": true,
  "valueAxes": [{
    "id": "temperature",
    "axisAlpha": 0,
    "position": "left",
    "ignoreAxisWidth": true,
    "precision": 2,
    "minPeriod": 0.01
  }],
  "balloon": {
    "borderThickness": 1,
    "shadowAlpha": 0
  },
  "graphs": [{
    "id": "tmpr_temperatureA",
    "balloon": {
      "drop": true,
      "animationDuration": 0
    },
    "bullet": "none",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 2,
    "valueField": "temperature1",
    "balloonText": "<span style='font-size:18px;'>[[value]] K</span>"
  },
  {
    "id": "tmpr_temperatureB",
    "balloon": {
      "drop": true,
      "animationDuration": 0
    },
    "bullet": "none",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 2,
    "valueField": "temperature2",
    "balloonText": "<span style='font-size:18px;'>[[value]] K</span>"
  }],
  "chartScrollbar": {
    "graph": "tmpr_temperature1",
    "oppositeAxis": false,
    "offset": 30,
    "scrollbarHeight": 80,
    "backgroundAlpha": 0,
    "selectedBackgroundAlpha": 0.1,
    "selectedBackgroundColor": "#888888",
    "graphFillAlpha": 0,
    "graphLineAlpha": 0.5,
    "selectedGraphFillAlpha": 0,
    "selectedGraphLineAlpha": 1,
    "autoGridCount": true,
    "color": "#AAAAAA"
  },
  "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "cursorAlpha": 1,
    "cursorColor": "#258cbb",
    //"limitToGraph": "tmpr_temperature",
    "valueLineAlpha": 0.2,
    "valueZoomable": true,
    "categoryBalloonDateFormat": "HH:NN:SS",
    "animationDuration": 0
  },
  "valueScrollbar": {
    "oppositeAxis": false,
    "offset": 64,
    "scrollbarHeight": 10
  },
  "categoryField": "time",
  "categoryAxis": {
    "parseDates": true,
    "dashLength": 1,
    "minorGridEnabled": true,
    "autoGridCount": true,
    "minPeriod": "ss"
  },
  "export": {
    "enabled": true
  },
  "dataProvider": []
});
chart.isZoomed = false;
chart.ignoreZoomed = true;
chart.addListener("zoomed", function(event) {
    if (chart.ignoreZoomed) {
        chart.ignoreZoomed = false;
        return;
    }
    chart.isZoomed = !(event.startIndex == 0 && event.chart.dataProvider.length - 1 == event.endIndex);
    chart.zoomStart = event.startIndex;
    chart.zoomEnd = event.endIndex;
});

chart.addListener("dataUpdated", function(event) {
    if (!chart.isZoomed) {
        return;
    }
    chart.zoomToIndexes(event.chart.dataProvider.length - (chart.zoomEnd-chart.zoomStart+1), event.chart.dataProvider.length);
});
/******************************************************************************/
function update_values() {
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.getJSON($SCRIPT_ROOT+"/json",
        function(data) {
            if (data.cmpr_pressures != null &&
                data.cmpr_pressures[0] != "None" &&
                data.cmpr_pressures[0] != "") {
                $("#pressure1").text(data.cmpr_pressures[0]);
            }
            else {
                $("#pressure1").html("<b>??</b>");
            }
            if (data.cmpr_temperatures != null &&
                data.cmpr_temperatures[0] != "None" &&
                data.cmpr_temperatures[0] != "") {
                for (var i = 0; i < 3; ++i) {
                    $("#cmpr_temperature" + (i+1)).text(data.cmpr_temperatures[i]);
                }
            }
            else {
                for (var i = 0; i < 3; ++i) {
                    $("#cmpr_temperature" + (i+1)).html("<b>??</b>");
                }
            }
            {% for id in ['cmpr_local_on',
                          'cmpr_cold_head_run',
                          'cmpr_cold_head_pause',
                          'cmpr_fault_off',
                          'cmpr_oil_fault_off',
                          'cmpr_solenoid_on',
                          'cmpr_pressure_off',
                          'cmpr_oil_level_alarm',
                          'cmpr_water_flow_alarm',
                          'cmpr_water_temperature_alarm',
                          'cmpr_helium_temperature_off',
                          'cmpr_mains_off',
                          'cmpr_motor_temperature_off',
                          'cmpr_system_on'] %}
                if (data.{{ id }} != null &&
                    data.{{ id }} != "None" &&
                    data.{{ id }} != "") {
                    $("#{{ id }}").addClass("on");
                    $("#{{ id }}").removeClass("off");
                }
                else {
                    $("#{{ id }}").addClass("off");
                    $("#{{ id }}").removeClass("on");
                }
            {% endfor %}
/******************************************************************************/
            var dict = {};
            if (data.tmpr_temperatures != null) {
                for (var i = 0; i < 2; ++i) {
                    dict["time"] = new Date();
                    if (data.tmpr_temperatures[i] != "None" &&
                        data.tmpr_temperatures[i] != "" &&
                        data.tmpr_temperatures[i] != null) {
                            $("#tmpr_temperature" + (i+1)).text(data.tmpr_temperatures[i]);
                            var key = "temperature" + (i+1);
                            dict[key] = data.tmpr_temperatures[i];
                    }
                    else {
                        $("#tmpr_temperature" + (i+1)).html("<b>??</b>");
                    }
                }
            }
            else {
                for (var i = 0; i < 2; ++i) {
                    $("#tmpr_temperature" + (i+1)).html("<b>??</b>");
                }
                dict = {};
            }
            if (Object.keys(dict).length > 1) {
                chart.dataProvider.push(dict);
                chart.ignoreZoomed = true;
                chart.validateData();
            }
            $("#time").text(new Date().toLocaleTimeString());
        });
}
setInterval(update_values, 1000)
</script>
<script>
$(document).ready(function(){
    $("input#cmpr_on").click(function(){
        $.post("cmpr_do",
        {
          cmd: "$ON1",
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    });
    $("input#cmpr_off").click(function(){
        $.post("cmpr_do",
        {
          cmd: "$OFF",
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    });
});
</script>
</head>
<body>
<table class="centered">
<tr>
<td>
    <input type="checkbox" id="checkbox-1" class="accordion" checked />
    <label for="checkbox-1">Compressor State</label>
    <table class="state">
        <tr>
            <td>
                <table class="wide">
                    {{ watch(title='Pressure:', id='pressure1', value=cmpr_pressures[0], unit='psig') }}
                    {{ watch(title='Helium Temperature:', id='cmpr_temperature1', value=cmpr_temperatures[0], unit='°C') }}
                    {{ watch(title='Water Out Temperature:', id='cmpr_temperature2', value=cmpr_temperatures[1], unit='°C') }}
                    {{ watch(title='Water In Temperature:', id='cmpr_temperature3', value=cmpr_temperatures[2], unit='°C') }}
                </table>
            </td>
            <td>
                <table id='cmpr_light'>
                    <tr>
                        <td colspan=2>{{ light_button(title='System On', id='system_on', type='state', value=cmpr_system_on) }}</td>
                        <td colspan=2>{{ light_button(title='Local On', id='local_on', type='state', value=cmpr_local_on) }}</td>
                    </tr>
                    <tr>
                        <td>{{ light_button(title='Fault Off', id='fault_off', type='error', value=cmpr_fault_off) }}</td>
                        <td>{{ light_button(title='Solenoid On', id='solenoid_on', type='state', value=cmpr_solenoid_on) }}</td>
                        <td>{{ light_button(title='Cold Head Run', id='cold_head_run', type='state', value=cmpr_cold_head_run) }}</td>
                        <td>{{ light_button(title='Cold Head Pause', id='cold_head_pause', type='stat2', value=cmpr_cold_head_pause) }}</td>
                    </tr>
                    <tr>
                        <td>{{ light_button(title='Helium Temperature', id='helium_temperature', type='error', value=cmpr_helium_temperature_off) }}</td>
                        <td>{{ light_button(title='Helium Pressure', id='helium_pressure', type='error', value=cmpr_pressure_off) }}</td>
                        <td>{{ light_button(title='Oil Level', id='oil_level', type='alarm', value=cmpr_oil_level_alarm) }}</td>
                        <td>{{ light_button(title='Oil Fault Off', id='oil_fault_off', type='error', value=cmpr_oil_fault_off) }}</td>
                    </tr>
                    <tr>
                        <td>{{ light_button(title='Water Flow', id='water_flow', type='alarm', value=cmpr_water_flow_alarm) }}</td>
                        <td>{{ light_button(title='Water Temperature', id='water_temperature', type='alarm', value=cmpr_water_temperature_alarm) }}</td>
                        <td>{{ light_button(title='Motor Temperature', id='motor_temperature', type='error', value=cmpr_motor_temperature_off) }}</td>
                        <td>{{ light_button(title='Mains Power', id='mains_power', type='error', value=cmpr_mains_off) }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="align_center" colspan=3>
                <input type="button" class="action_button" id="cmpr_on" value="Turn compressor on!">
                <input type="button" class="action_button" id="cmpr_off" value="Turn compressor off!">
            </td>
        </tr>
    </table>
</td>
</tr>
<tr>
<td>
    <input type="checkbox" id="checkbox-2" class="accordion" checked />
    <label for="checkbox-2">Cold Plate State</label>
    <table class="state">
        <tr>
            <td>
                <table class="wide">
                    {{ watch(title='Temperature A:', id='tmpr_temperature1', value=tmpr_temperatures[0], unit='K') }}
                    {{ watch(title='Temperature B:', id='tmpr_temperature2', value=tmpr_temperatures[1], unit='K') }}
                </table>
            </td>
        </tr>
        <tr>
            <td class="align_center">
                <input type="button" class="action_button" id="tmpr_pid_on" value="Turn PID on!">
                <input type="button" class="action_button" id="tmpr_pid_off" value="Turn PID off!">
            </td>
        </tr>
        <tr>
            <td>
                <div id="chartdiv"></div>
            </td>
        </tr>
    </table>
</td>
</tr>
</table>

<p id="time"></p>
</body>
</html>
