<!doctype html>
<html>
<head>
<title>Hello, {% if master_mind %}Master{% else %}World{% endif %} — Relay Module</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='relay_module.css') }}">
{% if master_mind -%}
<script type=text/javascript>
"use strict";
var timePeriod = 1000;
var lastRequestTime = Date();
var lastResponseTime = Date();
function update_values() {
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var now = new Date();
    if (now - lastRequestTime < 0.9 * timePeriod || now - lastResponseTime < 0.9 * timePeriod) {
        return;
    }
    else {
        lastRequestTime = now;
    }
    $.getJSON($SCRIPT_ROOT+"/relay_module/json",
        function(data) {
            now = new Date();
            if (now - lastResponseTime < 0.9 * timePeriod) {
                return;
            }
            else {
                lastResponseTime = now;
            }

            $("input#on").prop('disabled', (data.relay_on === true));
            $("input#off").prop('disabled', (data.relay_on === false));
        }
    );
}
setInterval(update_values, timePeriod);
</script>
<script type=text/javascript>
"use strict";
function alert_banner(container, duration, data) {
    container.text(data);
    container.show();
    setTimeout(function() { container.hide(); }, duration);
}

$(document).ready(function() {
    $("input#on").click(function() {
        $(this).prop('disabled', true);
        $.ajax({
            type: 'post',
            url: '/relay_module/do',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                action:          1           // 0 = Off, 1 = On
            }),
            success: function(data, status) {
                alert_banner($("div#banner"), 4000, data);
            }
        });
    });
    $("input#off").click(function() {
        $(this).prop('disabled', true);
        $.ajax({
            type: 'post',
            url: '/relay_module/do',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                action:          0           // 0 = Off, 1 = On
            }),
            success: function(data, status) {
                alert_banner($("div#banner"), 4000, data);
            }
        });
    });
});
</script>
{%- endif %}
</head>
<body>
{% if master_mind -%}
<table class="state">
    <tr>
        <td class="align_center">
            <input type="button" class="action_button" id="on" value="Turn relay on!">
            <input type="button" class="action_button" id="off" value="Turn relay off!">
            <div class="ajax_request_result_banner" id="banner"></div>
        </td>
    </tr>
</table>
{%- endif %}
</body>
</html>
