<!doctype html>
<html>
<head>
<title>Hello, {% if master_mind %}Master{% else %}World{% endif %}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script src="{{ url_for('static', filename='jokes.js') }}"></script>
<script type=text/javascript>
var timePeriod = 1000;
function update_values() {
    $("#time").text(new Date().toLocaleTimeString());

    // https://stackoverflow.com/a/819455
    var iframes = document.querySelectorAll("iframe");
    for (var i = 0; i < iframes.length; ++i) {
        var iframe = iframes[i];
        if (iframe &&
            iframe.contentWindow &&
            iframe.contentWindow.document &&
            iframe.contentWindow.document.body &&
            iframe.contentWindow.document.body.parentNode) {
            if (iframe.contentWindow.document.body.parentNode.clientHeight) {
                iframe.height = iframe.contentWindow.document.body.parentNode.scrollHeight;
            }
        }
    }
}
setInterval(update_values, timePeriod);
</script>
</head>
<body>
<table class="centered wide">
    <tr>
        <td class="wide">
            <input type="checkbox" id="checkbox-6" class="accordion" checked />
            <label for="checkbox-6">Mains Power Relay State</label>
            <iframe src="relay_module" class="wide" height="51"></iframe>
        </td>
    </tr>
    <tr>
        <td class="wide">
            <input type="checkbox" id="checkbox-0" class="accordion" checked />
            <label for="checkbox-0">Vacuum Pumping Station State</label>
            <iframe src="vacuum_pump" class="wide" height="51"></iframe>
            <iframe src="pressure_gauge" class="wide" height="51"></iframe>
        </td>
    </tr>
    <tr>
        <td class="wide">
            <input type="checkbox" id="checkbox-1" class="accordion" checked />
            <label for="checkbox-1">Compressor State</label>
            <iframe src="helium_compressor" class="wide" height="51"></iframe>
        </td>
    </tr>
    <tr>
        <td class="wide">
            <input type="checkbox" id="checkbox-2" class="accordion" checked />
            <label for="checkbox-2">Cold Plate State</label>
            <iframe src="temperature_controller" class="wide" height="51"></iframe>
        </td>
    </tr>
</table>

<p id="time" onclick="loadJoke('#time + div');"></p>
<div style="white-space: pre-line;"></div>

</body>
</html>
