{% macro watch(title, id, value, unit='', default='<b>??</b>') -%}
    <tr>
        <td>{{ title }}</td>
        <td id="{{ id }}" class="align_right large">
        {% if value %}
            {{ value }}
        {% else %}
            {{ default|safe }}
        {% endif %}
        </td>
        <td>{{ unit }}</td>
    </tr>
{%- endmacro %}
<!doctype html>
<html>
<head>
<title>Hello, {% if master_mind %}Master{% else %}World{% endif %} — Temperature Controller</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='temperature_controller.css') }}">
<script src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
<script src="{{ url_for('static', filename='amcharts/serial.js') }}"></script>
<script src="{{ url_for('static', filename='amcharts/plugins/export/export.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='amcharts/plugins/export/export.css') }}" type="text/css" media="all" />
<script src="{{ url_for('static', filename='amcharts/themes/light.js') }}"></script>
<script type="text/javascript">
"use strict";
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; ++i) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function loadSettings() {
    var saveData = getCookie("save_data");
    if (saveData.toString() == 'true') {
        $("#discard_data").prop('checked', false);
    }
    else {
        $("#discard_data").prop('checked', true);
    }
{% if master_mind -%}
    var i, output;
    for (output = 1; output <= 2; ++output) {
        {% for item in [['input',          'select#input_list'],
                        ['pid_mode',       'select#pid_mode_list'],
                        ['powerup',        'select#powerup_list'],
                        ['pid_range',          'select#pid_range_list'],
                        ['pid_value',          'input#pid_value_field'],
                        ['pid_p',              'input#pid_p_field'],
                        ['pid_i',              'input#pid_i_field'],
                        ['pid_d',              'input#pid_d_field'],
                        ['pid_manual',         'input#pid_manual_field']] %}
        i = getCookie("{{ item[0] }}" + output);
        if (i !== "") {
            $("table#pid_ch" + output + " {{ item[1] }}")[0].value = i;
        }
        {% endfor %}
        pid_mode_change(output);
        i = getCookie("rtm_input");
        if (i !== "") {
            $("table#rtm select#input_list")[0].value = i;
        }
        i = getCookie("rtm_count");
        if (i !== "") {
            $("table#rtm input#count_field")[0].value = i;
        }
    }
{%- endif %}
    $("input[type='checkbox'][id$='-caption']").each(function() {
        i = getCookie(this.id);
        if (i !== "") {
            this.checked = (i == "true");
        }
        toggleTable(this);
    });
}
</script>
<script type=text/javascript>
function toggleTable(object) {
    "use strict";
    var selector = "", s;
    var me = object;
    do {
        me = me.parentNode;
    } while (me.tagName !== "BODY" && me.tagName !== "CAPTION");
    if (me.tagName == "BODY") {
        return;
    }
    me = me.parentNode;
    while (me.tagName !== "BODY") {
        s = me.tagName;
        if (me.id !== "") {
            s += "#" + me.id;
        }
        if (selector.length !== 0) {
            selector = " > " + selector;
        }
        selector = s + selector;
        if (me.tagName === "TABLE") {
            break;
        }
        me = me.parentNode;
    }
    if (me.tagName === "BODY") {
        return;
    }
    var trs = document.querySelectorAll(selector + " > TBODY > TR, " + selector + " > TR");
    var tr;
    for (tr of trs) {
        tr.style.display = object.checked ? 'table-row' : 'none';
    }
    setCookie(object.id, object.checked, 30);
}
</script>
<script type=text/javascript>
"use strict";
function isEmpty(obj) {
    return Object.keys(obj).length === 0 && obj.constructor === Object && obj.toString.length === 0;
}

var plotData = [];
var chart = AmCharts.makeChart("chart", {
  "type": "serial",
  //"theme": "light",
  "marginRight": 40,
  "marginLeft": 40,
  "autoMarginOffset": 20,
  "valueAxes": [{
    "id": "temperature",
    "position": "left",
    "ignoreAxisWidth": true,
    "precision": 2,
    "minPeriod": 0.001,
    "includeAllValues": true,
    "unit": "K"
  }],
  "balloon": {
    "borderThickness": 1,
    "shadowAlpha": 0
  },
  "graphs": [{
    "id": "temperatureA",
    "balloon": {
      "drop": true,
      "animationDuration": 0
    },
    "bullet": "none",
    "lineThickness": 2,
    "valueField": "temperature1",
    "balloonText": "<span style='font-size:18px;'>[[value]] K</span>"
  },
  {
    "id": "temperatureB",
    "balloon": {
      "drop": true,
      "animationDuration": 0
    },
    "bullet": "none",
    "lineThickness": 2,
    "valueField": "temperature2",
    "balloonText": "<span style='font-size:18px;'>[[value]] K</span>"
  }],
  "chartScrollbar": {
    "oppositeAxis": false,
    "offset": 30,
    "scrollbarHeight": 10,
    "autoGridCount": true,
    "color": "transparent",
    "updateOnReleaseOnly": true
  },
  "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "cursorAlpha": 1,
    "cursorColor": "#258cbb",
    "valueLineAlpha": 0.2,
    "valueZoomable": true,
    "categoryBalloonDateFormat": "HH:NN:SS",
    "animationDuration": 0
  },
  "valueScrollbar": {
    "oppositeAxis": false,
    "offset": 78,
    "scrollbarHeight": 10
  },
  "categoryField": "time",
  "categoryAxis": {
    "parseDates": true,
    "dashLength": 1,
    "minorGridEnabled": true,
    "autoGridCount": true,
    "minPeriod": "fff"
  },
  "dataProvider": [],
  "export": {
    "enabled": true,
    "libs": {
      "path": "{{ url_for('static', filename='amcharts/plugins/export/libs/') }}"
    },
    "menu": [{
    "class": "export-main",
    "label": "Export",
    "menu": [
/*      {
        "label": "Download as …",
        "menu": [{
          "format": "PNG",
          "label": "PNG"
        }, {
          "format": "SVG",
          "label": "SVG"
        }, {
          "format": "PDF",
          "label": "PDF"
        }]
      },*/ {
        "label": "Save as …",
        "menu": [{
          "label": "CSV with time stamps",
          "click": function() {
              this.toCSV({
                data: plotData,
                dateFormat: "JJ:NN:SS"
              }, function(data) {
                this.download(data, this.defaults.formats.CSV.mimeType, "temperature.csv");
              });
            }
        }, {
          "label": "CSV with intervals",
          "click": function() {
              var revData = plotData;
              var firstTime = null;
              var timeKeyName = "time";
              var i;
              for (i = 0; i < revData.length; i += 1) {
                  if (revData[i][timeKeyName] !== null) {
                      if (firstTime !== null) {
                    revData[i][timeKeyName] = 0.001 * (+revData[i][timeKeyName] - firstTime);
                  }
                  else {
                    firstTime = +revData[i][timeKeyName];
                    revData[i][timeKeyName] = 0;
                  }
                }
              }
              this.toCSV({
                data: revData,
              }, function(data) {
                this.download(data, this.defaults.formats.CSV.mimeType, "temperature.csv");
              });
            }
        }, {
          "label": "XLSX with time stamps",
          "click": function() {
              this.toXLSX({
                data: plotData,
                dateFormat: "JJ:NN:SS"
              }, function(data) {
                this.download(data, this.defaults.formats.XLSX.mimeType, "temperature.xlsx");
              });
            }
        }, {
          "label": "XLSX with intervals",
          "click": function() {
              var revData = plotData;
              var firstTime = null;
              var timeKeyName = "time";
              var i;
              for (i = 0; i < revData.length; i += 1) {
                if (revData[i][timeKeyName] !== null) {
                  if (firstTime !== null) {
                    revData[i][timeKeyName] = 0.001 * (+revData[i][timeKeyName] - firstTime);
                  }
                  else {
                    firstTime = +revData[i][timeKeyName];
                    revData[i][timeKeyName] = 0;
                  }
                }
              }
              this.toXLSX({
                data: revData,
              }, function(data) {
                this.download(data, this.defaults.formats.XLSX.mimeType, "temperature.xlsx");
              });
            }
        }]
      }, {
        "label": "Annotate …",
        "action": "draw"
      }, {
        "label": "Print",
        "format": "PRINT"
      }]
    }]
  }
});
chart.isZoomed = false;
chart.ignoreZoomed = true;
chart.addListener("zoomed", function(event) {
    if (chart.ignoreZoomed) {
        chart.ignoreZoomed = false;
        return;
    }
    chart.isZoomed = (event.endIndex - event.startIndex < event.chart.dataProvider.length - 1);
    chart.zoomStart = event.startIndex;
    chart.zoomEnd = event.endIndex;
});

chart.addListener("dataUpdated", function(event) {
    if (!chart.isZoomed) {
        return;
    }
    chart.zoomToIndexes(chart.zoomStart + 1, chart.zoomEnd + 2);
});
/******************************************************************************/
var timePeriod = 1000;
var lastRequestTime = new Date();
var lastResponseTime = new Date();
var lastReplotTime = new Date();
function update_values() {
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var now = new Date();
    if (now - lastRequestTime < 0.9 * timePeriod || now - lastResponseTime < 0.9 * timePeriod) {
        return;
    }
    lastRequestTime = now;
    $.getJSON($SCRIPT_ROOT + "/temperature_controller/json",
        function(data) {
            if (data.error !== null && data.error !== "") {
                $("div#error").show();
                $("div#error").text(data.error);
            }
            else {
                $("div#error").hide();
            }
            var i;
            now = new Date();
            if (now - lastResponseTime < 0.9 * timePeriod) {
                return;
            }
            lastResponseTime = now;

            var dict = {};
            var in_ok = false;
            {% if master_mind -%}
            if (data.rtm) {
                $("table#rtm").show();
            }
            else {
                $("table#rtm").hide();
            }
            {%- endif %}
            if (data.temperatures !== null) {
                var key;
                for (i = 0; i < 2; i += 1) {
                    dict["time"] = new Date();
                    if (data.temperatures[i] !== "None" &&
                        data.temperatures[i] !== "" &&
                        data.temperatures[i] !== null) {
                            $("#temperature" + (i+1)).text(data.temperatures[i]);
                            key = "temperature" + (i+1);
                            dict[key] = data.temperatures[i];
                            in_ok = true;
                            {% if master_mind -%}
                                $($("table#pid_ch1 select#input_list option")[i+1]).show();
                                $($("table#pid_ch2 select#input_list option")[i+1]).show();
                                $("table#rtm").show();
                            {%- endif %}
                    }
                    else {
                        $("#temperature" + (i+1)).html("<b>??</b>");
                        {% if master_mind -%}
                            $($("table#pid_ch1 select#input_list option")[i+1]).hide();
                            if ($($("table#pid_ch1 select#input_list")[0]).selectedIndex === i+1) {
                                $($("table#pid_ch1 select#input_list")[0]).selectedIndex = 0;
                            }
                            $($("table#pid_ch2 select#input_list option")[i+1]).hide();
                            if ($($("table#pid_ch2 select#input_list")[0]).selectedIndex === i+1) {
                                $($("table#pid_ch2 select#input_list")[0]).selectedIndex = 0;
                            }
                            $("table#rtm").hide();
                        {%- endif %}
                    }
                }
            }
            else {
                for (i = 0; i < 2; i += 1) {
                    $("#temperature" + (i+1)).html("<b>??</b>");
                }
                {% if master_mind -%}
                    $("table#rtm").hide();
                {%- endif %}
                dict = {};
            }
            if (Object.keys(dict).length > 1) {
                if (!$("#discard_data").prop("checked")) {
                    plotData.push(dict);
                    var maxLength = 200;
                    var displayedLength = 0;
                    for (i = 0; i < plotData.length; i += 1) {
                        if (plotData[i].time >= chart.chartScrollbar.startTime &&
                            plotData[i].time <= chart.chartScrollbar.endTime) {
                            displayedLength += 1;
                        }
                    }
                    if (displayedLength > maxLength) {
                        chart.dataProvider = [];
                        var denom = displayedLength / maxLength;
                        for (i = 0; Math.round(i) < plotData.length; i += denom) {
                            chart.dataProvider.push(plotData[Math.round(i)]);
                        }
                    }
                    else {
                        chart.dataProvider.push(dict);
                    }
                    chart.ignoreZoomed = true;
                    if (+now > +lastReplotTime + 1000) {
                        lastReplotTime = now;
                        chart.validateData();
                        setCookie("save_data", true, 30);
                    }
                }
                else {
                    if (+now > +lastReplotTime + 1000) {
                        lastReplotTime = now;
                        setCookie("save_data", false, 30);
                    }
                }
            }
            if (in_ok) {
                $("input#discard_data + label").show();
                $("table#chart-wrapper").show();
                $("table#pid").show();
            }
            else {
                $("input#discard_data + label").hide();
                if (plotData.length === 0) {
                    $("table#chart-wrapper").hide();
                }
                $("table#pid").hide();
            }

            if (data.output !== null) {
                for (i = 0; i < 2; i += 1) {
                    if (data.output[i] !== "None" &&
                        data.output[i] !== "" &&
                        data.output[i] !== null) {
                            $("#output" + (i+1)).text(data.output[i]);
                            {% if master_mind -%}
                                $("table#pid_ch" + (i+1)).show();
                            {%- endif %}
                    }
                    else {
                        $("#output" + (i+1)).html("<b>??</b>");
                        {% if master_mind -%}
                            $("table#pid_ch" + (i+1)).hide();
                        {%- endif %}
                    }
                }
            }
            else {
                for (i = 1; i <= 2; i += 1) {
                    $("#output" + i).html("<b>??</b>");
                    {% if master_mind -%}
                        $("table#pid_ch" + i).hide();
                    {%- endif %}
                }
            }

            {% if master_mind -%}
            if (data.pid !== null) {
                var item;
                for (i = 1; i <= 2; i += 1) {
                    if (data.pid[i] !== null && !isEmpty(data.pid[i])) {
                    {% for item in [['input',          'select#input_list'],
                                    ['mode',           'select#pid_mode_list'],
                                    ['powerup_enable', 'select#powerup_list'],
                                    ['range',          'select#pid_range_list'],
                                    ['value',          'input#pid_value_field'],
                                    ['P',              'input#pid_p_field'],
                                    ['I',              'input#pid_i_field'],
                                    ['D',              'input#pid_d_field'],
                                    ['manual',         'input#pid_manual_field']] %}
                        item = $("table#pid_ch" + i + " {{ item[1] }}")[0];
                        if (data.pid[i]['{{ item[0] }}'] !== null &&
                            data.pid[i]['{{ item[0] }}'] !== "") {
                            if (!$(item).hasClass("changed")) {
                                item.value = data.pid[i]['{{ item[0] }}'];
                            }
                            else if (item.value == data.pid[i]['{{ item[0] }}']) {
                                $(item).removeClass("changed");
                            }
                        }
                        else {
                            $(item).removeClass("changed");
                        }
                    {% endfor %}
                    }
                    else {
                        $("table#pid_ch" + i + " select, table#pid_ch" + i + " input[type='number']").each(function() {
                            $(this).removeClass("changed");
                        });
                    }
                }
            }
            else {
                for (i = 1; i <= 2; i += 1) {
                    $("table#pid_ch" + i + " select, table#pid_ch" + i + " input[type='number']").each(function() {
                        $(this).removeClass("changed");
                    });
                }
            }
            {%- endif %}
        });
        if (plotData.length === 0) {
            $("div#chart").hide();
        }
        else if (plotData.length === 1) {        // to fire only once
            $("div#chart").show();
            $("input#clear").show();
        }
    }
    setInterval(update_values, timePeriod);
    $(document).ready(function() {
        $("input#clear").click(function() {
            chart.dataProvider = [];
            plotData = [];
            chart.validateData();
            $("input#clear").hide();
        });
        {% if master_mind -%}
        var i;
        for (i = 1; i <= 2; i += 1) {
            $("table#pid_ch" + i + " select, table#pid_ch" + i + " input[type='number']").each(function() {
                this.oninput = function() {
                    $(this).addClass("changed");
                };
            });
        }
        {%- endif %}
    });
</script>
{% if master_mind -%}
<script type="text/javascript">
"use strict";
function pid_mode_change(output) {
    var pid_mode = ($("table#pid_ch" + output + " select#pid_mode_list")[0]).value;
    if (pid_mode == '3') {
        $("table#pid_ch" + output + " .pid_auto").hide();
        $("table#pid_ch" + output + " .pid_manual").show();
    }
    else {
        $("table#pid_ch" + output + " .pid_auto").show();
        $("table#pid_ch" + output + " .pid_manual").hide();
    }
}
function pid_on(output) {
    if ($($("table#pid_ch" + output)[0]).is(':hidden')) {
        alert("Invalid output");
        return;
    }
    var pid_mode = ($("table#pid_ch" + output + " select#pid_mode_list")[0]).value;
    var input_list = $("table#pid_ch" + output + " select#input_list")[0];
    var input = input_list.value;
    if (pid_mode != '3' && (input_list.selectedOptions.length !== 1 || $(input_list.selectedOptions[0]).is(':hidden'))) {
        alert("Invalid input");
        return;
    }
    var powerup = ($("table#pid_ch" + output + " select#powerup_list")[0]).value;
    var pid_range = ($("table#pid_ch" + output + " select#pid_range_list")[0]).value;
    var pid_value = ($("table#pid_ch" + output + " input#pid_value_field")[0]).value;
    var pid_p = ($("table#pid_ch" + output + " input#pid_p_field")[0]).value;
    var pid_i = ($("table#pid_ch" + output + " input#pid_i_field")[0]).value;
    var pid_d = ($("table#pid_ch" + output + " input#pid_d_field")[0]).value;
    var pid_manual = ($("table#pid_ch" + output + " input#pid_manual_field")[0]).value;
    $.ajax({
        type: 'post',
        url: '/temperature_controller/pid/do',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            action:          1,          // 0 = Off, 1 = On
            output:         +output,     // 1 or 2
            mode:           +pid_mode,   // 0 = Off, 1 = Closed Loop PID, 2 = Zone, 3 = Open Loop, 4 = Monitor Out, 5 = Warmup Supply
            input:          +input,      // 0 = None, 1 = A, 2 = B
            powerup_enable: +powerup,    // 0 = Off, 1 = On
            P:              +pid_p,      // Proportional (gain)
            I:              +pid_i,      // Integral (reset)
            D:              +pid_d,      // Derivative (rate)
            value:          +pid_value,  // respect the sensor units!
            range:          +pid_range,  // 0 = Off, 1 = Low, 2 = Medium, 3 = High
            manual:         +pid_manual  // %
        }),
        success: function(data, status) {
            alert(data);
        }
    });
    setCookie("pid_mode" + output,  pid_mode, 30);
    setCookie("powerup" + output,   powerup, 30);
    if (pid_mode != '3') {
        setCookie("input" + output,     input, 30);
        setCookie("pid_value" + output,  pid_value, 30);
        setCookie("pid_range" + output, pid_range, 30);
        setCookie("pid_p" + output,      pid_p, 30);
        setCookie("pid_i" + output,      pid_i, 30);
        setCookie("pid_d" + output,      pid_d, 30);
    }
    else {
        setCookie("pid_manual" + output, pid_manual, 30);
    }
}
function pid_off(output) {
    $.ajax({
        type: 'post',
        url: '/temperature_controller/pid/do',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            action:          0,          // 0 = Off, 1 = On
            output:          output      // 1 or 2
        }),
        success: function(data, status) {
            alert(data);
        }
    });
}
</script>
<script type="text/javascript">
"use strict";
function rtm() {
    var input_list = $("table#rtm select#input_list")[0];
    var input = input_list.options[input_list.selectedIndex].value;
    var option = $("table#rtm select#input_list option")[input_list.selectedIndex];
    if ($(option).is(':hidden')) {
        alert("Invalid input");
        return;
    }
    var count_field = $("table#rtm input#count_field")[0];
    var count = count_field.value;
    $.ajax({
        type: 'post',
        url: '/temperature_controller/rtm/do',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            label:  input,
            count: +count
        }),
        success: function(data, status) {
            alert(data);
        }
    });
    setCookie("rtm_input", input, 30);
    setCookie("rtm_count", count, 30);
}
</script>
{%- endif %}
</head>
<body onload="loadSettings();">
    <div id="rtm">Please wait until realtime measurements are over.</div>
    <div id="error"></div>
    <table class="wide">
        {{ watch(title='Temperature A:', id='temperature1', value=temperatures[0], unit='K') }}
        {{ watch(title='Temperature B:', id='temperature2', value=temperatures[1], unit='K') }}
        {{ watch(title='Output 1:', id='output1', value=output[0], unit='%') }}
        {{ watch(title='Output 2:', id='output2', value=output[1], unit='%') }}
    </table>
    {% if master_mind -%}
    <table class="wide accordeon hidden" id="pid">
        <caption>
            <input type="checkbox" id="pid-caption" class="accordeon" onclick="toggleTable(this)" checked>
            <label for="pid-caption">PID Control</label>
        </caption>
        <tr>
            <td>
                <table class="wide" id="pid_ch1">
                    <tr>
                        <td>Output:</td>
                        <td>
                            <b>1</b>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>Input:</td>
                        <td>
                            <select id="input_list">
                                <option value="0">None</option>
                                <option value="1" selected>A</option>
                                <option value="2">B</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Mode:</td>
                        <td>
                            <select id="pid_mode_list" onchange="pid_mode_change(1)">
                                <option value="1" selected>Auto</option>
                                <option value="3">Manual</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Heater range:</td>
                        <td>
                            <select id="pid_range_list">
                                <option value="0">Off</option>
                                <option value="1">Low</option>
                                <option value="2" selected>Medium</option>
                                <option value="3">High</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Powerup:</td>
                        <td>
                            <select id="powerup_list">
                                <option value="0">Off</option>
                                <option value="1" selected>On</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>Desired value:</td>
                        <td>
                            <input type='number' id="pid_value_field" value="292.73" step="0.01" min="0.00"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>P:</td>
                        <td>
                            <input type='number' id="pid_p_field" value="50" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>I:</td>
                        <td>
                            <input type='number' id="pid_i_field" value="20" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>D:</td>
                        <td>
                            <input type='number' id="pid_d_field" value="0" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_manual hidden">
                        <td>Fixed output:</td>
                        <td>
                            <input type='number' id="pid_manual_field" value="0.00" step="0.01" min="0.00"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="align_center" colspan=2>
                            <input type="button" class="action_button" onclick="pid_on(1)" value="Turn PID on!">
                            <input type="button" class="action_button" onclick="pid_off(1)" value="Turn PID off!">
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="wide" id="pid_ch2">
                    <tr>
                        <td>Output:</td>
                        <td>
                            <b>2</b>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>Input:</td>
                        <td>
                            <select id="input_list">
                                <option value="0">None</option>
                                <option value="1">A</option>
                                <option value="2" selected>B</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Mode:</td>
                        <td>
                            <select id="pid_mode_list" onchange="pid_mode_change(1)">
                                <option value="1" selected>Auto</option>
                                <option value="3">Manual</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Heater range:</td>
                        <td>
                            <select id="pid_range_list">
                                <option value="0">Off</option>
                                <option value="1">Low</option>
                                <option value="2" selected>Medium</option>
                                <option value="3">High</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Powerup:</td>
                        <td>
                            <select id="powerup_list">
                                <option value="0">Off</option>
                                <option value="1" selected>On</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>Desired value:</td>
                        <td>
                            <input type='number' id="pid_value_field" value="292.73" step="0.01" min="0.00"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>P:</td>
                        <td>
                            <input type='number' id="pid_p_field" value="50" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>I:</td>
                        <td>
                            <input type='number' id="pid_i_field" value="20" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_auto">
                        <td>D:</td>
                        <td>
                            <input type='number' id="pid_d_field" value="0" step="any"/>
                        </td>
                    </tr>
                    <tr class="pid_manual hidden">
                        <td>Fixed output:</td>
                        <td>
                            <input type='number' id="pid_manual_field" value="0.00" step="0.01" min="0.00"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="align_center" colspan=2>
                            <input type="button" class="action_button" onclick="pid_on(2)" value="Turn PID on!">
                            <input type="button" class="action_button" onclick="pid_off(2)" value="Turn PID off!">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {%- endif %}
    <table id="chart-wrapper" class="wide accordeon hidden">
        <caption>
            <input type="checkbox" id="chart-caption" class="accordeon" onclick="toggleTable(this)" checked>
            <label for="chart-caption">Temperature Timeline</label>
        </caption>
        <tr>
            <td>
                <div id="chart"></div>
            </td>
        </tr>
        <tr>
            <td class="align_center">
                <table class="fixed centered">
                    <tr>
                        <td>
                            <input type="checkbox" id="discard_data">
                            <label for="discard_data">Don't record temperatures</label>
                        </td>
                        <td>
                            <input type="button" id="clear" value="Clear Data">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <audio preload="auto" id="warning">
        <source src="{{ url_for('static', filename='horse.ogg') }}" type="audio/ogg">
        <source src="{{ url_for('static', filename='horse.mp3') }}" type="audio/mpeg">
    </audio>

    {% if master_mind -%}
    <table id="rtm" class="wide accordeon hidden">
        <caption>
            <input type="checkbox" id="rtm-caption" class="accordeon" onclick="toggleTable(this)">
            <label for="rtm-caption">Realtime Temperature Measurements</label>
        </caption>
        <tr>
            <th></th>
            <th>Input:</th>
            <th>Count:</th>
        </tr>
        <tr>
            <td class="align_center">
                <input type="button" class="action_button" id="rtm" onclick="rtm()" value="Start measurements">
            </td>
            <td>
                <select id="input_list">
                    <option value="A" selected>A</option>
                    <option value="B">B</option>
                </select>
            </td>
            <td>
                <input type='number' id="count_field" value="13" step="1" min="1"/>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/temperature_controller/rtm/csv" target="_blank"><input type="button" class="action_button" value="Show result as text"></a>
                <a href="/temperature_controller/rtm/json" target="_blank"><input type="button" class="action_button" value="Show result as JSON"></a>
            </td>
            <td colspan="2">
                <strong>Warning!</strong> You will <em>not</em> be able to proceed until the measurements are over.
            </td>
        </tr>
    </table>
    {%- endif %}
</body>
</html>

